* {
    --primary-light: hsl(200 100% 30%);
    --primary-dark: hsl(200 100% 70%);
    --on-primary-light: hsl(200 100% 100%);
    --on-primary-dark: hsl(200 100% 10%);
    --primary-container-light: hsl(200 100% 80%);
    --primary-container-dark: hsl(200 100% 25%);
    --on-primary-container-light: hsl(200 100% 20%);
    --on-primary-container-dark: hsl(200 100% 100%);
    --scondary-light: hsl(230 100% 30%);
    --scondary-dark: hsl(230 100% 70%);
    --on-scondary-light: hsl(260 100% 100%);
    --on-scondary-dark: hsl(260 100% 10%);
    --scondary-container-light: hsl(230 100% 80%);
    --scondary-container-dark: hsl(230 100% 25%);
    --on-scondary-container-light: hsl(260 100% 20%);
    --on-scondary-container-dark: hsl(260 100% 100%);
    --error-light: hsl(0 100% 30%);
    --error-dark: hsl(0 100% 70%);
    --on-error-light: hsl(0 100% 100%);
    --on-error-dark: hsl(0 100% 10%);
    --background-light: hsl(200 40% 95%);
    --background-dark: hsl(200 20% 7%);
    --on-background-light: hsl(200 40% 5%);
    --on-background-dark: hsl(200 20% 90%);
    --surface-light: hsl(200 40% 92%);
    --surface-dark: hsl(200 20% 10%);
    --on-surface-light: hsl(200 40% 10%);
    --on-surface-dark: hsl(200 20% 90%);
    --surface-container-low-light: hsl(200 40% 89%);
    --surface-container-low-dark: hsl(200 20% 12%);
    --on-surface-container-low-light: hsl(200 40% 15%);
    --on-surface-container-low-dark: hsl(200 20% 95%);
    --surface-container-light: hsl(200 40% 87%);
    --surface-container-dark: hsl(200 20% 15%);
    --on-surface-container-light: hsl(200 40% 15%);
    --on-surface-container-dark: hsl(200 20% 95%);
    --surface-container-high-light: hsl(200 40% 85%);
    --surface-container-high-dark: hsl(200 20% 18%);
    --on-surface-container-high-light: hsl(200 40% 15%);
    --on-surface-container-high-dark: hsl(200 20% 95%);
    --surface-variant-light: hsl(200 40% 85%);
    --surface-variant-dark: hsl(200 20% 18%);
    --on-surface-variant-light: hsl(200 40% 15%);
    --on-surface-variant-dark: hsl(200 20% 95%);
    --outline-light: hsl(200 40% 75%);
    --outline-dark: hsl(200 20% 28%);
    --glass-light: hsl(200 100% 0% / 0.2);
    --glass-dark: hsl(200 100% 0% / 0.2);

    --primary: light-dark(var(--primary-light), var(--primary-dark));
    --on-primary: light-dark(var(--on-primary-light), var(--on-primary-dark));
    --primary-container: light-dark(var(--primary-container-light), var(--primary-container-dark));
    --on-primary-container: light-dark(var(--on-primary-container-light), var(--on-primary-container-dark));
    --scondary: light-dark(var(--scondary-light), var(--scondary-dark));
    --on-scondary: light-dark(var(--on-scondary--light), var(--on-scondary-dark));
    --scondary-container: light-dark(var(--scondary-container-light), var(--scondary-container-dark));
    --on-scondary-container: light-dark(var(--on-scondary-container-light), var(--on-scondary-container-dark));
    --error: light-dark(var(--error-light), var(--error-dark));
    --on-error: light-dark(var(--on-error-light), var(--on-error-dark));
    --background: light-dark(var(--background-light), var(--background-dark));
    --on-background: light-dark(var(--on-background-light), var(--on-background-dark));
    --surface: light-dark(var(--surface-light), var(--surface-dark));
    --on-surface: light-dark(var(--on-surface-light), var(--on-surface-dark));
    --surface-container-low: light-dark(var(--surface-container-low-light), var(--surface-container-low-dark));
    --on-surface-container-low: light-dark(var(--on-surface-container-low-light), var(--on-surface-container-low-dark));
    --surface-container: light-dark(var(--surface-container-light), var(--surface-container-dark));
    --on-surface-container: light-dark(var(--on-surface-container-light), var(--on-surface-container-dark));
    --surface-container-high: light-dark(var(--surface-container-high-light), var(--surface-container-high-dark));
    --on-surface-container-high: light-dark(var(--on-surface-container-high-light), var(--on-surface-container-high-dark));
    --surface-variant: light-dark(var(--surface-variant-light), var(--surface-variant-dark));
    --on-surface-variant: light-dark(var(--on-surface-variant-light), var(--on-surface-variant-dark));
    --outline: light-dark(var(--outline-light), var(--outline-dark));
    --glass: light-dark(var(--glass-light), var(--glass-dark));
}